<a href="https://colab.research.google.com/github/Jash-Bhatia/Machine_Learning/blob/master/ML_Lab_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
!unzip AirQualityUCI.zip
df = pd.read_excel('/content/AirQualityUCI.xlsx', parse_dates=[['Date', 'Time']])
df.replace(to_replace=-200.0, value=0.0, inplace=True)
wv = df['NMHC(GT)']
bad_wv = wv == -200.0
wv[bad_wv] = 0.0

Archive:  AirQualityUCI.zip
replace AirQualityUCI.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: AirQualityUCI.csv
replace AirQualityUCI.xlsx? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: AirQualityUCI.xlsx

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date_Time      9357 non-null   datetime64[ns]
 1   CO(GT)         9357 non-null   float64
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   int64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 1023.5 KB

In [5]:
df.describe()

            CO(GT)  PT08.S1(CO)  ...           RH           AH
count  9357.000000  9357.000000  ...  9357.000000  9357.000000
mean      1.765545  1056.692672  ...    47.306631     0.985416
std       1.554264   301.232260  ...    19.473998     0.442966
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.600000   921.000000  ...    34.050000     0.692275
50%       1.500000  1052.500000  ...    48.550000     0.976823
75%       2.600000  1221.250000  ...    61.875000     1.296223
max      11.900000  2039.750000  ...    88.725000     2.231036

[8 rows x 13 columns]

In [6]:
df.shape

(9357, 14)

In [7]:
df.replace(to_replace = -200,value = np.NaN , inplace = True )

In [8]:
num = df.isnull().sum()
percent = num/df.shape[0]*100
percent

Date_Time        0.0
CO(GT)           0.0
PT08.S1(CO)      0.0
NMHC(GT)         0.0
C6H6(GT)         0.0
PT08.S2(NMHC)    0.0
NOx(GT)          0.0
PT08.S3(NOx)     0.0
NO2(GT)          0.0
PT08.S4(NO2)     0.0
PT08.S5(O3)      0.0
T                0.0
RH               0.0
AH               0.0
dtype: float64

In [9]:
target = 'NO2(GT)'
target

'NO2(GT)'

In [10]:
df.corr()[['NO2(GT)']]

                NO2(GT)
CO(GT)         0.723154
PT08.S1(CO)    0.284508
NMHC(GT)       0.099541
C6H6(GT)       0.402581
PT08.S2(NMHC)  0.334108
NOx(GT)        0.795888
PT08.S3(NOx)  -0.440202
NO2(GT)        1.000000
PT08.S4(NO2)   0.010185
PT08.S5(O3)    0.439057
T             -0.195697
RH            -0.125245
AH            -0.324221

In [11]:
df = df[['CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)','PT08.S2(NMHC)', 'NOx(GT)','NO2(GT)','PT08.S5(O3)']]
df.head()

   CO(GT)  PT08.S1(CO)  NMHC(GT)  PT08.S2(NMHC)  NOx(GT)  NO2(GT)  PT08.S5(O3)
0     2.6      1360.00       150        1045.50    166.0    113.0      1267.50
1     2.0      1292.25       112         954.75    103.0     92.0       972.25
2     2.2      1402.00        88         939.25    131.0    114.0      1074.00
3     2.2      1375.50        80         948.25    172.0    122.0      1203.25
4     1.6      1272.25        51         835.50    131.0    116.0      1110.00

In [12]:
X = df.drop(target,axis=1)
y = df[[target]]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y)
value = y_test

In [14]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(7017, 6)
(2340, 6)
(7017, 1)
(2340, 1)

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train = scaler.fit_transform(x_train)
scaler.fit(x_test)
x_test = scaler.fit_transform(x_test)
scaler.fit(y_train)
y_train = scaler.fit_transform(y_train)
scaler.fit(y_test)
y_test = scaler.fit_transform(y_test)

In [17]:
x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))
x_test = np.reshape(x_test, (x_test.shape[0],x_test.shape[1],1))
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(7017, 6, 1)
(2340, 6, 1)
(7017, 1)
(2340, 1)

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Flatten
def RNN_MODEL():
    # have to convert to 3D for feeding the data
    regressor = Sequential()
    regressor.add(LSTM(units = 50,return_sequences = True))
    regressor.add(Dropout(0.2))
    regressor.add(LSTM(units = 50,return_sequences = True))
    regressor.add(Dropout(0.3))
    regressor.add(LSTM(units = 50))
    regressor.add(Dropout(0.25))
    regressor.add(Dense(units = 1))
    regressor.compile(optimizer = 'adam',loss = 'mean_squared_error',metrics=['RootMeanSquaredError'])
    return regressor

In [19]:
regressor = RNN_MODEL()

In [20]:
regressor.fit(x_train,y_train,epochs = 50)

Epoch 1/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0267 - root_mean_squared_error: 0.1635
Epoch 2/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0226 - root_mean_squared_error: 0.1502
Epoch 3/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0209 - root_mean_squared_error: 0.1447
Epoch 4/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0184 - root_mean_squared_error: 0.1357
Epoch 5/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0175 - root_mean_squared_error: 0.1324
Epoch 6/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0169 - root_mean_squared_error: 0.1301
Epoch 7/50
220/220 [==============================] - 3s 11ms/step - loss: 0.0166 - root_mean_squared_error: 0.1288
Epoch 8/50
220/220 [==============================] - 3s 11ms/step - loss: 0.0162 - root_mean_squared_error: 0.1273
Epoch 9/50
220/220 [==============================] - 2s 10ms/step - loss: 0.0156 - root_mean_squared_error: 0.1248
Epoch 10/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0156 - root_mean_squared_error: 0.1250
Epoch 11/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0148 - root_mean_squared_error: 0.1215
Epoch 12/50
220/220 [==============================] - 3s 11ms/step - loss: 0.0143 - root_mean_squared_error: 0.1196
Epoch 13/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0139 - root_mean_squared_error: 0.1178
Epoch 14/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0136 - root_mean_squared_error: 0.1166
Epoch 15/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0129 - root_mean_squared_error: 0.1135
Epoch 16/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0122 - root_mean_squared_error: 0.1105
Epoch 17/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0119 - root_mean_squared_error: 0.1089
Epoch 18/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0110 - root_mean_squared_error: 0.1048
Epoch 19/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0104 - root_mean_squared_error: 0.1018
Epoch 20/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0095 - root_mean_squared_error: 0.0975
Epoch 21/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0089 - root_mean_squared_error: 0.0941
Epoch 22/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0083 - root_mean_squared_error: 0.0908
Epoch 23/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0081 - root_mean_squared_error: 0.0900
Epoch 24/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0078 - root_mean_squared_error: 0.0883
Epoch 25/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0075 - root_mean_squared_error: 0.0868
Epoch 26/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0074 - root_mean_squared_error: 0.0863
Epoch 27/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0071 - root_mean_squared_error: 0.0845
Epoch 28/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0070 - root_mean_squared_error: 0.0836
Epoch 29/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0069 - root_mean_squared_error: 0.0830
Epoch 30/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0067 - root_mean_squared_error: 0.0818
Epoch 31/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0066 - root_mean_squared_error: 0.0812
Epoch 32/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0065 - root_mean_squared_error: 0.0809
Epoch 33/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0065 - root_mean_squared_error: 0.0809
Epoch 34/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0064 - root_mean_squared_error: 0.0803
Epoch 35/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0065 - root_mean_squared_error: 0.0807
Epoch 36/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0064 - root_mean_squared_error: 0.0799
Epoch 37/50
220/220 [==============================] - 2s 10ms/step - loss: 0.0063 - root_mean_squared_error: 0.0797
Epoch 38/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0065 - root_mean_squared_error: 0.0804
Epoch 39/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0064 - root_mean_squared_error: 0.0799
Epoch 40/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0063 - root_mean_squared_error: 0.0791
Epoch 41/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0062 - root_mean_squared_error: 0.0788
Epoch 42/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0063 - root_mean_squared_error: 0.0792
Epoch 43/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0063 - root_mean_squared_error: 0.0796
Epoch 44/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0062 - root_mean_squared_error: 0.0786
Epoch 45/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0061 - root_mean_squared_error: 0.0781
Epoch 46/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0062 - root_mean_squared_error: 0.0787
Epoch 47/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0062 - root_mean_squared_error: 0.0787
Epoch 48/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0061 - root_mean_squared_error: 0.0781
Epoch 49/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0060 - root_mean_squared_error: 0.0777
Epoch 50/50
220/220 [==============================] - 2s 11ms/step - loss: 0.0060 - root_mean_squared_error: 0.0777

In [21]:
regressor.evaluate(x_test,y_test)

74/74 [==============================] - 0s 3ms/step - loss: 0.0054 - root_mean_squared_error: 0.0732

[0.005354292690753937, 0.07317303121089935]

In [22]:
y_pred = regressor.predict(x_test)
y_pred

array([[0.37405384],
       [0.48004737],
       [0.25551838],
       ...,
       [0.21016744],
       [0.3854599 ],
       [0.10814981]], dtype=float32)

In [23]:
y_pred

array([[0.37405384],
       [0.48004737],
       [0.25551838],
       ...,
       [0.21016744],
       [0.3854599 ],
       [0.10814981]], dtype=float32)

In [24]:
output = scaler.inverse_transform(y_pred)
real_output = []
for item in output:
    real_output.append((item[0]))

In [25]:
pd.DataFrame(real_output)

               0
0     127.066086
1     163.072098
2      86.799591
3      -4.138386
4      90.875748
...          ...
2335  109.133400
2336   39.456913
2337   71.393875
2338  130.940735
2339   36.738491

[2340 rows x 1 columns]

In [ ]:
value['predicted'] = pd.DataFrame(real_output)

In [32]:
plt.rcParams["figure.figsize"] = (100,100)

In [ ]:
plt.plot(value)

In [29]:
type(value)

pandas.core.frame.DataFrame